* {
	margin: 0;
	padding: 0;
}

.swrap {
	position: relative;
	width: 1000px;
	margin: auto;
	padding: 0;
	
}

/*.img img {
	border: 30px solid white;
	float: left;
	width: 350px;
	height: 230px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	}*/

	.desc {
		padding: 15px;
		text-align: center;
		font-size: 18px;

	}

	.img {
		float: left;
		width: 270px;
		padding: 37px;
		border: 1px solid white;
	}
	.img a img {
		width: 300px;
		height: 178px;
		opacity: 1;   
		vertical-align: middle;
		cursor: pointer;
		transition: all 0s linear; 
	}

	.img img:hover {
		opacity: 0.7;
		transform: translate(0, - 0.7;5px);
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
	}

	.anh {
		max-width: 700px;
	}

	.facebook  a  img{
		width: 30px;
		height: 30px;
		border-radius : 50%;
		position: absolute;
		right: 179px;
		top: -36px;
	}

	.facebook {
		position: relative;
	}

	.line {
		position: relative;
		width:1000px;
		background: #453535;
		clear: both;
		padding: 10px;
		
		font-family: sans-serif;
		display: inline-table;
	}

	.line p {
		color: white;
		padding: 1px
	}

	h3 {
		color: yellow;
		padding: 5px
	}

	.gh1 {
		float: left;
		margin: 30px;
	}

	.ad {
		position: absolute;
		float: right;
		width: 287px;
		padding: 10px;
		right: 0px;
		top: 384px;
		text-decoration: none;
	}

	.ad h4 {
		padding: 5px;
		border-bottom: 1px solid red;
		background: red;
	}

	.ad ul li {
		
		list-style-position: inside;
		background: #F3E4E4;
		padding: 1px;
		list-style-type: circle;
		list-style-image: url("http://www.kissfaq.com/forum11/images/smilies/icon_flower.gif");
	}
	.ad ul li a {
		text-decoration: none;
	}
	.ad ul:hover li:hover a{
		cursor: pointer;
		color: blue;
	}
